<div class="row">
    <div class="col-md-3">
        <div class="nav-side-menu">

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li class="active">
                        <a [routerLink]="['/']">
                            <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        </a>
                    </li>

                    <li data-toggle="collapse" data-target="#products" class="collapsed">
                        <a [routerLink]="['/about']"><i class="fa fa-gift fa-lg"></i> UI Elements </a>
                    </li>

                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a [routerLink]="['/contact']"><i class="fa fa-car fa-lg"></i> Contact Form </a>
                    </li>

                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href=""><i class="fa fa-globe fa-lg"></i>  Services <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="service">
                        <li>New Service 1</li>
                        <li>New Service 2</li>
                        <li>New Service 3</li>
                    </ul>

                </ul>

            </div>

        </div>
    </div>

    <div class="col-md-9">

        <main>
            <router-outlet></router-outlet>
        </main>

    </div>
</div>

<footer>
    © 2016
</footer>